[submodule "code/extlibs/raknet"]
	path = code/extlibs/raknet
	url = https://github.com/gscept/RakNet.git
	branch = master
[submodule "code/extlibs/imgui"]
	path = code/extlibs/imgui
	url = https://github.com/gscept/imgui.git
	branch = master
[submodule "code/extlibs/DevIL"]
	path = code/extlibs/DevIL
	url = https://github.com/gscept/DevIL.git
	branch = master
[submodule "code/extlibs/CubeMapGen"]
	path = code/extlibs/CubeMapGen
	url = https://github.com/gscept/CubeMapGen.git
	branch = master
[submodule "code/extlibs/glfw"]
	path = code/extlibs/glfw
	url = https://github.com/gscept/glfw.git
	branch = master
[submodule "code/extlibs/miniupnp"]
	path = code/extlibs/miniupnp
	url = https://github.com/gscept/miniupnp.git
	branch = master
[submodule "code/extlibs/glew"]
	path = code/extlibs/glew
	url = https://github.com/gscept/glew.git
	branch = master
[submodule "code/extlibs/recastnavigation"]
	path = code/extlibs/recastnavigation
	url = https://github.com/gscept/recastnavigation.git
	branch = master
[submodule "code/extlibs/theora"]
	path = code/extlibs/theora
	url = https://github.com/gscept/theora.git
	branch = master
[submodule "code/extlibs/ogg"]
	path = code/extlibs/ogg
	url = https://github.com/xiph/ogg.git
[submodule "projects/nebula-demo"]
	path = projects/nebula-demo
	url = https://github.com/gscept/nebula-demo.git
	branch = master
[submodule "code/extlibs/anyfx"]
	path = code/extlibs/anyfx
	url = https://github.com/Duttenheim/AnyFX.git
[submodule "code/extlibs/cjson/cJSON"]
	path = code/extlibs/cjson/cJSON
	url = https://github.com/kbranigan/cJSON.git
[submodule "projects/core-project"]
	path = projects/core-project
	url = https://github.com/Core-Game-Project-2016/core-project.git
